<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<h1> CAESAR Tool </h1>
<p> Encode text with our tool!</p>
<ol>
    <li> Submit text into the field</li>
    <li> Enter the desired letter</li>
    <li> Click and observe the magic!</li>
</ol>
<form>
    Text:<br>
    <input type="text" name="text"><br>
    Letter:<br>
    <input type="text" name="letter"><br>
</form>
<input type="button" onclick="alert('Hello World!')" value="Click Me!">

<h1 th:text="${bla}"></h1>


</body>
</html>